
@{
    ViewData["Title"] = "Index";
}

    
<div class="row">
    <div class="col-md-3">
            <h3 class="section-head mb-2">Overview</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="analytics">
            <div class="analytic">
                <div class="analytic-icon"><span class="las la-eye"><i class="fa-solid fa-users"></i></span></div>
                <div class="analytic-info">
                    <h4>Kullanıcılar</h4>
                    <h1>10.3M</h1>
                </div>
            </div>
            <div class="analytic">
                <div class="analytic-icon"><span class="las la-clock"><i class="fa-brands fa-blogger"></i></span></div>
                <div class="analytic-info">
                    <h4>Bloglar</h4>
                    <h1>20.9k <small class="text-danger">5%</small></h1>
                </div>
            </div>
            <div class="analytic">
                <div class="analytic-icon"><span class="las la-users"><i class="fa-solid fa-rss"></i></span></div>
                <div class="analytic-info">
                    <h4>Aboneler</h4>
                    <h1>1.3k <small class="text-success">12%</small></h1>
                </div>
            </div>
            <div class="analytic">
                <div class="analytic-icon"><span class="las la-heart"><i class="fa-solid fa-comments"></i></span></div>
                <div class="analytic-info">
                    <h4>Yorumlar</h4>
                    <h1>3.4M </h1>
                </div>
            </div>
        </div>
    </div>
</div>
